{% extends 'main/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div>
        <div>
            {% if life_ware.bestandsreport.name and life_ware.bewegungs_report.name and life_ware.lapses_since_inception.name and life_ware.termsheet_report.name %}
                <button onclick="lifewareDataConversion();">
                    Data conversion
                </button>
                {% if bestandsreport and bewegungs_report and lapses_since_inception and termsheet_report %}
                    <i class="bi bi-check2" style="color: green;"></i>
                {% else %}
                    <i class="bi bi-x-lg" style="color: red;"></i>
                {% endif %}
            {% endif %}
            <ul>
                <li><a href="{% url 'life_ware_database_update' pk %}">Update files</a></li>
                <li><a href="{% url 'life_ware_parameters_entry' pk %}">Parameters Entry</a></li>
                <li><a href="{% url 'life_ware_macros' pk %}">Macros</a></li>
            </ul>
        </div>
        <button onClick="javascript:history.go(-1);"><i class="bi bi-arrow-left"></i>Back</button>
    </div>
{% endblock %}
