{% extends 'main/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div>
        <div>
            <h3>SQL name: "{{ sql.name }}"</h3>
            <p>Query: {{ sql.query }}</p>

            <div class="form_div">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button id="fibas-run-sql" type="submit">Run sql</button>
                </form>
                <a href="{% url 'fibas_edit_sql' pk=sql.id %}"><button>Edit sql</button></a><br>
            </div>

            <!-- Loading sql query -->
            <p id="fibas-loading-spinner" style="display: none;">Loading...</p>

            {% if results %}
                <h3>Query result:</h3>
                {% if results.result %}
                    <p class="success">{{ results.result }}</p>
                {% elif results.error %}
                    <p class="error">{{ results.error }}</p>
                {% endif %}
            {% endif %}
        </div>
        <button onClick="javascript:history.go(-1);"><i class="bi bi-arrow-left"></i>Back</button>
    </div>
{% endblock %}