{% extends 'main/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div>
        <div class="form_div">
            <ul>
                {% for sql_file in list_only_files %}
                    <li><a href="{% url 'fibas_query_with_file' pk=pk sql_file=sql_file %}">{{ sql_file }}</a></li>
                {% endfor %}
            </ul>

            <div>
                <span class="step-links">
                    {% if list_only_files.has_previous %}
                        <a href="?page={{ list_only_files.previous_page_number }}"><button>&lt; previous </button></a>
                    {% endif %}

                    <span class="current">
                        {{ list_only_files.number }}/{{ list_only_files.paginator.num_pages }}
                    </span>

                    {% if list_only_files.has_next %}
                        <a href="?page={{ list_only_files.next_page_number }}"><button>next &gt;</button></a>
                    {% endif %}
                </span>
            </div>
        </div>
        <button onClick="javascript:history.go(-1);"><i class="bi bi-arrow-left"></i>Back</button>
    </div>
{% endblock %}