{% extends 'main/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <div class="form_div">
            <form method="post" action="">
                {% csrf_token %}
                {{ form.name_macros.label }}: {{ form.name_macros }}
                <h5>Select SQL Queries:</h5>
                <div>
                    {% if error_message %}
                        <p class="error"> {{ error_message }} </p>
                    {% endif %}
                    <ul id="sortable">
                        {% for sql_id in form.fields.user_sql.initial %}
                            {% for choice in form.user_sql.field.queryset %}
                                {% for field in form.visible_fields %}
                                    {% if sql_id == choice.id %}
                                        {% for f in field %}
                                            {% if choice.name == f.data.label %}
                                                <li style="list-style-type: decimal;">
                                                    {{ f }}
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                <button type="submit">Save Changes</button>
            </form>
        </div>
        <button onClick="javascript:history.go(-1);"><i class="bi bi-arrow-left"></i>Back</button>

        <script>
            $(function() {
                $("#sortable").sortable();
                $("#sortable").disableSelection();
            });
            $(function() {
                $("#sortable").sortable({
                update: function(event, ui) {
                    var order = 1;
                    $("#sortable li").each(function() {
                        var sqlId = $(this).find("input[type='checkbox']").val();
                        $(this).find("input[type='hidden']").val(order);
                        order++;
                    });
                }
                });
                $("#sortable").disableSelection();
            });
        </script>
    </div>
{% endblock %}