{% extends 'main/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h4>Choose Product</h4>
<ul id="mainmenu" class="mainmenu">
    {% for m in menu %}
        {% with url=m.url_name %}
            <li>
                <a class="{% if url == request.path %}active-point{% endif %}" href="{{ url }}">
                    {{ m.title }}

                </a>
            </li>
        {% endwith %}
    {% endfor %}
</ul>

    <a href="{% url 'add_new_product' %}">
        <button type="button">Add New Product</button>
    </a>
{% endblock %}